{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title %}<title>ReactJS</title>{% endblock title %}
    <link type="text/css" rel="stylesheet" href="{% static "react/css/style.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "react2/css/style2.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "react3/css/style3.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "react4/css/style4.css" %}">
    <link type="text/css" rel="stylesheet" href="{% static "react5/css/style5.css" %}">
</head>
<body>
{% block content %}{% endblock %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
<script type="text/babel" src="{% static "react/js/react1.js" %}"></script>
<script type="text/babel" src="{% static "react/js/reactdz1.js" %}"></script>
<script type="text/babel" src="{% static "react2/js/react2.js" %}"></script>
<script type="text/babel" src="{% static "react2/js/reactdz2.js" %}"></script>
<script type="text/babel" src="{% static "react3/js/react3.js" %}"></script>
<script type="text/babel" src="{% static "react3/js/reactdz3.js" %}"></script>
<script type="text/babel" src="{% static "react4/js/react4.js" %}"></script>
<script type="text/babel" src="{% static "react4/js/reactdz4.js" %}"></script>
<script type="text/babel" src="{% static "react5/js/react5.js" %}"></script>
<script type="text/babel" src="{% static "react5/js/reactdz5.js" %}"></script>
</body>
</html>